<footer class="footer section">
  <div class="footer-container">
    <div class="footer-logo-wr">
      <a class="footer-logo" href="">
        <img class="footer-logo-img" src="../img/logo-header.png" alt="Logo" />
      </a>
      <h2 class="footer-title">
        Let’s
        <span class="footer-color-accent">work</span>
        <span class="footer-color-current">together</span>
      </h2>
    </div>

    <form class="footer-form" id="footerForm">
      <div class="footer-form-wr">
        <input
          class="footer-form-input"
          type="email"
          name="email"
          placeholder="clients@gmail.com"
        />
      </div>
      <div class="footer-form-wr">
        <input
          class="footer-form-input"
          type="text"
          name="comments"
          placeholder="comments"
        />
      </div>
      <button class="footer-form-btn" type="submit" data-modal-open>
        Send
      </button>
    </form>

    <address class="footer-contacts">
      <ul class="footer-contacts-list">
        <li class="footer-contacts-item">
          <a class="footer-contacts-link" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="footer-contacts-item">
          <a class="footer-contacts-link" href="tel:+3801111111111"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>

<!-- #region modal_window_footer -->
<div class="backdrop">
  <div class="footer-modal">
    <button class="footer-modal-close-btn" type="button" data-modal-close>
      <svg class="footer-modal-close-icon">
        <use href="../img/Footer/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <h3 class="footer-modal-title">
      Thank you for your interest in cooperation!
    </h3>
    <p class="footer-modal-text">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>
<!-- #endregion modal_window_footer -->
