<header class="header">
  <div class="container container-header">
    <a class="logo" href="">
      <img src="../img/logo-header.png" alt="Logo" />
      <svg width="34" height="20">
        <use href="../img/logo-J.svg#icon-J"></use>
      </svg>
    </a>
    <nav class="nav-menu">
      <button class="btn-menu-header" js-btn-menu-header>MENU</button>

      <ul class="nav-menu-list">
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="#about">About me</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="#benefits">Benefits</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="#projects">Projects</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <div>
      <a class="button-order" href="#footer">Order the project</a>
    </div>
    <a class="btn-mobile" type="button" data-modal-mob-open>
      <svg width="28" height="28">
        <use href="../img/header-mob/sprite_mob_header.svg#icon-menu-05"></use>
      </svg>
    </a>

    <div class="header-mobile-menu-overlay">
      <div class="header-mobile-menu">
        <button
          class="header-close-menu-btn"
          type="button"
          data-modal-mob-close
        >
          <svg class="footer-modal-close-icon">
            <use href="../img/Footer/symbol-defs.svg#icon-x"></use>
          </svg>
        </button>
        <ul class="header-mobile-menu-list">
          <li class="header-mobile-menu-item">
            <a href="#about">About me</a>
          </li>
          <li class="header-mobile-menu-item">
            <a href="#benefits">Benefits</a>
          </li>
          <li class="header-mobile-menu-item">
            <a href="#projects">Projects</a>
          </li>
          <li class="header-mobile-menu-item">
            <a href="#faq">FAQ</a>
          </li>
        </ul>
        <a class="header-order-btn-modal" href="#footer">Order the project</a>
      </div>
    </div>
  </div>
</header>
