<header class="header">
  <div class="container container-header">
    <a class="logo" href="">
      <img src="../img/logo-header.png" alt="Logo" />
      <svg width="34" height="20">
        <use href="../img/logo-J.svg#icon-J"></use>
      </svg>
    </a>
    <nav class="nav-menu">
      <button class="btn-menu-header" js-btn-menu-header>MENU</button>

      <ul class="nav-menu-list">
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="#about">About me</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="#benefits">Benefits</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="#projects">Projects</a>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-link" href="#FAQ">FAQ</a>
        </li>
      </ul>
    </nav>
    <div>
      <button class="button-order" type="button">Order the project</button>
    </div>
    <button class="btn-mobile" type="button">
      <svg width="28" height="28">
        <use href="../img/header-mob/sprite_mob_header.svg#icon-menu-05"></use>
      </svg>
    </button>
  </div>
</header>
