<section class="hero-section container" id="hero">
  <div class="hero-content">
    <div class="container">
      <h1 class="hero-title">
        Hello. <br />I’m Fullstack developer <br />Lloyd Jefferson.
      </h1>
      <div class="container-hero-footer">
        <div class="container">
          <ul class="hero-list-social">
            <li class="hero-item-">
              <a class="hero-link-social" href="#" target="_blank">IG</a>
            </li>
            <li class="hero-item">
              <a class="hero-link-social" href="#" target="_blank">FB</a>
            </li>
            <li class="hero-item">
              <a class="hero-link-social" href="#" target="_blank">YT</a>
            </li>
            <li class="hero-item">
              <a class="hero-link-social" href="#" target="_blank">GH</a>
            </li>
            <li class="hero-item">
              <a
                class="hero-link-social"
                href="mailto:lloyd.jefferson@example.com"
                >lloydjefferson@gmail.com</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <script src="../js/hero.js"></script> -->
