<section class="reviews container section" id="reviews">
  <h2 class="reviews-title">REVIEWS</h2>
  <div
    class="swiper reviews-swipper swiper-initialized swiper-horizontal swiper-backface-hidden"
  >
    <ul class="reviews-list reviews-swiper-wrapper swiper-wrapper">
      <li class="reviews-item reviews-swiper-slide swiper-slide">
        <img
          class="reviews-item-foto"
          src="../img/REVIEWS_swipper/Natalia.png"
          alt="foto Natalia"
        />
        <h3 class="reviews-item-title">Natalia</h3>
        <p class="reviews-item-text">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations
        </p>
      </li>
      <li class="reviews-item reviews-swiper-slide swiper-slide">
        <img
          class="reviews-item-foto"
          src="../img/REVIEWS_swipper/Dmytro.png"
          alt="foto Dmytro"
        />
        <h3 class="reviews-item-title">Dmytro</h3>
        <p class="reviews-item-text">
          I have the honor to recommend him as an exceptional professional in
          his field. His knowledge and expertise are undeniable. Cooperation
          with him always brings impressive results.
        </p>
      </li>
      <li class="reviews-item reviews-swiper-slide swiper-slide">
        <img
          class="reviews-item-foto"
          src="../img/REVIEWS_swipper/Anna.png"
          alt="foto Anna"
        />
        <h3 class="reviews-item-title">Anna</h3>
        <p class="reviews-item-text">
          The developed project impresses with its quality and efficiency. The
          code is cleanly written and the functionality exceeds expectations.
          Extremely satisfied with the cooperation!
        </p>
      </li>
      <li class="reviews-item reviews-swiper-slide swiper-slide">
        <img
          class="reviews-item-foto"
          src="../img/REVIEWS_swipper/Ivetta.png"
          alt="foto Ivetta"
        />
        <h3 class="reviews-item-title">Ivetta</h3>
        <p class="reviews-item-text">
          Thanks for the excellent work on the project! His talent and
          professionalism deserve recognition. I recommend it to everyone who is
          looking for an expert in the field of software development.
        </p>
      </li>
      <li class="reviews-item reviews-swiper-slide swiper-slide">
        <img
          class="reviews-item-foto"
          src="../img/REVIEWS_swipper/Andriy.png"
          alt="foto Andriy"
        />
        <h3 class="reviews-item-title">Andriy</h3>
        <p class="reviews-item-text">
          Thanks for the excellent work on the project! His talent and
          professionalism deserve recognition. I recommend it to everyone who is
          looking for an expert in the field of software development.
        </p>
      </li>
      <li class="reviews-item reviews-swiper-slide swiper-slide">
        <img
          class="reviews-item-foto"
          src="../img/REVIEWS_swipper/Eduard.png"
          alt="foto Eduard"
        />
        <h3 class="reviews-item-title">Eduard</h3>
        <p class="reviews-item-text">
          I have the honor to recommend him as an exceptional professional in
          his field. His knowledge and expertise are undeniable. Cooperation
          with him always brings impressive results.
        </p>
      </li>
    </ul>
    <div class="reviews-swipper-btn">
      <button
        class="reviews-button-left block"
        tabindex="0"
        aria-label="Next slide"
        aria-controls="swiper-wrapper-8f35ea7d1067bd1a"
      >
        <img
          src="data:image/svg+xml,%3csvg%20width='40'%20height='40'%20viewBox='0%200%2040%2040'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M6.6665%2020H33.3332'%20stroke='%233B3B3B'%20stroke-width='2'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3cpath%20d='M23.3335%2010L33.3335%2020L23.3335%2030'%20stroke='%233B3B3B'%20stroke-width='2'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/svg%3e"
        />
      </button>
      <button
        class="reviews-button-right"
        tabindex="0"
        aria-label="Next slide"
        aria-controls="swiper-wrapper-8f35ea7d1067bd1a"
      >
        <img
          src="data:image/svg+xml,%3csvg%20width='40'%20height='40'%20viewBox='0%200%2040%2040'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M6.6665%2020H33.3332'%20stroke='%233B3B3B'%20stroke-width='2'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3cpath%20d='M23.3335%2010L33.3335%2020L23.3335%2030'%20stroke='%233B3B3B'%20stroke-width='2'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/svg%3e"
        />
      </button>
    </div>
  </div>
</section>
