/* #region firstBlok */

/* #region MOB */
.about-me-first-block {
  display: block;
  justify-content: center;
  margin-bottom: 96px;
}

.about-me-text {
  background: #242527;
  border-radius: 24px;
  width: auto;
  height: 500px;
  padding: 32px 32px 0 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.05263;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin-bottom: 16px;
}

.first-accent {
  color: #3c2ea6;
}

.second-accent {
  color: #0066ff;
}
.about-me-img {
  border-radius: 24px;
  max-width: 343px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.about-me-accordion-item {
  margin-bottom: 32px;
}

.about-me-accordion {
  background: none;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.about-me-svg {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  transition: box-shadow 0.8s ease-in-out, background-color 0.8s ease-in-out;
}

.about-me-svg:hover {
  box-shadow: 0 0 10px #fafafa, 0 0 20px rgba(255, 255, 255, 0.5);
}

.about-me-accordion-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 12px;
}

.accordion-wr-text {
  width: auto;
}
/* #endregion MOB */

/* #region TABLET */
@media (min-width: 768px) and (max-width: 1439px) {
  .header-container {
    max-width: 768px;
  }

  .about-me-first-block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  .about-me-text {
    background: #242527;
    border-radius: 24px;
    width: auto;
    height: 700px;
    padding: 64px 64px 0 64px;
    font-weight: 500;
    font-size: 38px;
    line-height: 1.05263;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;
    margin-bottom: 0;
  }

  .first-accent {
    color: #3c2ea6;
  }

  .second-accent {
    color: #0066ff;
  }
  .about-me-img {
    border-radius: 24px;
    max-width: 704px;
    width: 100%;
    height: auto;
  }

  .about-me-accordion-item {
    margin-bottom: 32px;
  }

  .about-me-accordion {
    background: none;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .about-me-svg {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    padding: 10px;
    width: 40px;
    height: 40px;
  }

  .about-me-accordion-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
  }

  .accordion-wr-text {
    width: auto;
  }
}

/* #endregion TABLET */

/* #region WEB */
@media only screen and (min-width: 1380px) {
  .header-container {
    max-width: 1440px;
    padding: 0 32px;
  }

  .about-me-first-block {
    display: flex;
    gap: 16px;
    margin-bottom: 96px;
  }

  .about-me-text {
    background: #242527;
    border-radius: 24px;
    width: 680px;
    height: 700px;
    padding: 64px 64px 0 64px;
    font-weight: 500;
    font-size: 38px;
    line-height: 1.05263;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;
  }

  .first-accent {
    color: #3c2ea6;
  }

  .second-accent {
    color: #0066ff;
  }
  .about-me-img {
    border-radius: 24px;
    max-width: 680px;
    height: 700px;
  }

  /* #endregion firstBlok */

  /* #region SecondBlock */

  .about-me-accordion-item {
    margin-bottom: 32px;
  }

  .about-me-accordion {
    background: none;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .about-me-svg {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    padding: 10px;
    width: 40px;
    height: 40px;
  }

  .about-me-accordion-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
    margin-bottom: 32px;
  }

  .text-margin-bottom {
    margin-bottom: 10px;
  }

  .accordion-wr-text {
    width: 612px;
    margin-left: auto;
  }
}

/* #endregion WEB */

.about-me-second-block {
  margin-bottom: 96px;
}

/* #region accordion CSS */
.ac-header {
  font-size: 18px;
  color: white;
  cursor: pointer;
  border: none;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion .ac {
  background-color: #1c1d20;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  margin-bottom: 0px;
}

.accordion .ac .ac-trigger {
  display: flex;
  padding: 32px 0 32px 0;
  color: rgba(250, 250, 250, 0.4);
}

.ac .ac-trigger::after {
  display: none;
}

.is-active .about-me-svg {
  rotate: 180deg;
}

/* #endregion accordion */

/* #endregion SecondBlock */

/* #region swiper */
.swiper-container-aboutme {
  display: flex;
  align-items: center;
  margin-top: 96px;
  padding: 0;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 55px;
}

.skills-swiper-about-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 260px;
  min-width: 260px;
}

.swiper-wrapper {
  display: flex;
  min-width: 0;
  width: 260px;
  user-select: none;
}

.swiper-wrapper .about-me-swiper-slide {
  flex-shrink: 0;
  width: 130px;
  height: 130px;
  display: flex;
  border-radius: 100px;
  margin-right: 0 !important;
}

.about-me-swiper-slide {
  justify-content: center;
  align-items: center;
  border: 1px solid #f0f0f0;
}

.skills-swiper-about-me .swiper-slide-active {
  background-color: #3c2ea6;
  border: none;
}

.skills-btm {
  background-color: #fff;
  padding: 0;
  flex-shrink: 0;
  background-color: #fff0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .swiper-container-aboutme {
    gap: 64px;
    padding: 0 32px;
  }

  .skills-swiper-about-me {
    width: 600px;
    min-width: 600px;
  }

  .swiper-wrapper .about-me-swiper-slide {
    width: 200px;
    height: 200px;
  }

  .skills-btm {
    background-color: #fff;
    padding: 0;
    flex-shrink: 0;
    background-color: #fff0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
}

@media screen and (min-width: 1440px) {
  .swiper-container-aboutme {
    gap: 72px;
  }

  .skills-swiper-about-me {
    width: 1200px;
    min-width: 1200px;
  }

  .swiper-wrapper {
    display: flex;
    min-width: 0;
    width: 260px;
    user-select: none;
  }

  .swiper-wrapper .about-me-swiper-slide {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 100px;
    margin-right: 0 !important;
  }

  .about-me-swiper-slide {
    justify-content: center;
    align-items: center;
    border: 1px solid #f0f0f0;
  }

  .skills-swiper-about-me .swiper-slide-active {
    background-color: #3c2ea6;
    border: none;
  }
}
/* #endregion swiper */
