/* #region global WEB */
.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.faq-list-wr {
  display: flex;
}

.faq-list-left {
  display: block;
}

.accordion .faq-item {
  border-top: 1px solid #fafafa33;
  border-right: 1px solid #fafafa33;
  border-left: 1px solid #fafafa33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  cursor: pointer;
}

.faq-item-left {
  padding-left: 20px;
}

.faq-item.is-active {
  max-height: 400px; /* максимальна висота для відкритого аккордеона */
  transition: max-height 0.3s ease;
}

.faq-item:not(.is-active) {
  max-height: 104px;
}

.faq-item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #fafafa;
  max-width: 80%;
}

.faq-btn-svg {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.faq-btn {
  justify-content: space-between;
  align-items: center;
}

.is-active .faq-btn-svg {
  rotate: 180deg;
}
.faq-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  margin-bottom: 26px;
  margin-right: 32px;
}

.faq-item.right-ac {
  padding-left: 20px;
  border-right: none;
}

.faq-item.left-ac {
  border-left: none;
}

.right-ac .faq-btn-svg {
  margin-right: 0px;
}

/* #endregion global WEB */

/* #region TABLET */

@media (min-width: 768px) and (max-width: 1439px) {
  .faq-list-wr {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .accordion .faq-item {
    border-right: none;
    border-left: none;
    border-bottom: none;
  }

  .faq-btn {
    justify-content: space-between;
    align-items: center;
  }

  .faq-btn-svg {
    margin-right: 0px;
  }

  .faq-item-left {
    padding-left: 0;
  }

  .faq-item.right-ac {
    padding-left: 0;
    border-right: none;
  }
}

/* #endregion TABLET */

/* #region MOB */

@media (min-width: 375px) and (max-width: 767px) {
  .faq-list-wr {
    display: flex;
    flex-direction: column;
  }

  .accordion .faq-item {
    border-right: none;
    border-left: none;
    border-bottom: none;
  }

  .faq-btn {
    justify-content: space-between;
    align-items: center;
  }

  .faq-btn-svg {
    margin-right: 0px;
  }

  .faq-item-left {
    padding-left: 0;
  }

  .faq-item.right-ac {
    padding-left: 0;
    border-right: none;
  }

  .accordion .ac .ac-trigger {
    display: flex;
    padding: 20px 0 20px 0;
  }

  .faq-item:not(.is-active) {
    max-height: 100%;
  }
}

/* #endregion MOB */
