/* #region footer */

.footer-container {
  max-width: 1440px;
  padding: 0 196px;
  padding-top: 60px;
  padding-bottom: 169px;
}

.footer-logo-wr {
  margin-bottom: 64px;
}

.footer-logo {
  margin-right: 20px;
  float: left;
  vertical-align: middle;
}

.footer-logo-img {
  width: 70px;
  height: 70px;
}

.footer-title {
  font-size: 64px;
  display: block;
  margin: 0;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.footer-color-accent {
  color: #3c2ea6;
}

.footer-color-current {
  display: block;
  margin-top: 10px;
}

.footer-form {
  display: flex;
  gap: 32px;
  margin-bottom: 78px;
  align-items: center;
  justify-content: center;
}

.footer-form-input {
  width: 390px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px rgba(250, 250, 250, 0.2) solid;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: border-color 0.35s ease-in-out;
}

.footer-form-btn {
  width: 150px;
  height: 150px;
  margin-top: 18px;
  margin-left: 54px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  background-color: #3c2ea6;
  transition: background-color 0.25s ease-in-out;
}

.footer-contacts-list {
  display: flex;
  gap: 8px;
}

.footer-contacts-item {
  padding: 18px 32px;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
}

/* #endregion footer */

@media (min-width: 768px) and (max-width: 1439px) {
  .footer-container {
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto;
  }

  .footer-form-input {
    width: 245px;
  }

  .footer-form-btn {
    margin-left: 0;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .footer-container {
    max-width: 344px;
    padding: 0 16px;
    margin: 0 auto;
  }

  .footer-form {
    display: block;
    margin-bottom: 78px;
  }

  .footer-form-input {
    width: 343px;
    margin-bottom: 16px;
  }

  .footer-form-btn {
    width: 100px;
    height: 100px;
    margin-top: 16px;
    margin-left: 0;
  }

  .footer-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
  }

  .footer-contacts-list {
    gap: 4px;
  }

  .footer-contacts-item {
    padding: 10px 12px;
    height: 37px;
    font-size: 14px;
    font-weight: 500;
  }

  .footer-contacts-link {
    white-space: nowrap;
  }
}

/* #region footer_modal*/

.backdrop {
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f0f1099;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 64px;
  width: 492px;
  height: 246px;
  overflow: auto;
  background-color: #1c1d20;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  transform: translate(-50%, -50%);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.footer-modal-close-icon {
  stroke: #fafafa;
  width: 24px;
  height: 24px;
}

.footer-modal-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
  margin-bottom: 16px;
}

.footer-modal-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa99;
}

/* #endregion footer_modal*/
