/* #region MOBILE Header */

@media screen and (max-width: 767px) {
  .button-order,
  .btn-menu-header,
  .nav-menu,
  .nav-menu-list {
    display: none;
  }
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  background-color: transparent;
}

.logo {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.btn-mobile {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

/* Mod_Mobile */

.header-mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-mobile-menu-overlay.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  background: #3c2ea6;
  background-image: url(../img/Hero.jpg);
}

.header-mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-close-menu-btn {
  position: absolute;
  top: 32px;
  right: 16px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.header-mobile-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 67px;
  font-family: 'Inter Tight', sans-serif;
}

.header-mobile-menu-item {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  font-family: 'Inter Tight', sans-serif;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
  margin-bottom: 12px;
}

.header-order-btn-modal {
  position: absolute;
  bottom: 64px;
  margin: 0 auto;
  border-radius: 60px;
  padding: 14px 31px;
  width: 164px;
  background: #3c2ea6;
  transition: box-shadow 0s ease-in-out, background-color 0.8s ease-in-out;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  font-family: 'Inter Tight', sans-serif;
}

.header-order-btn-modal:hover {
  background: #241a5c;
}
/* #endregion MOBILE Header */

/* #region TABLET Header */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .header-container {
    max-width: 768px;
    padding: 32px;
  }

  .btn-menu-header {
    background: none;
    text-decoration: underline;
    margin-bottom: 18px;
    transition: box-shadow 0s ease-in-out, color 0.8s ease-in-out;
  }

  .btn-menu-header:hover {
    color: #241a5c;
  }

  .nav-menu-list {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px); /* Початкове зміщення вгору */
    position: absolute;
    z-index: 9999;
    pointer-events: none; /* Щоб не можна було натискати, поки приховано */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .nav-menu-list.active {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto; /* Робимо меню клікабельним */
  }

  .nav-menu-item {
    margin-bottom: 12px;
  }

  .nav-menu-item:last-child {
    margin-bottom: 0;
  }

  .nav-menu-link {
    transition: box-shadow 0s ease-in-out, color 0.8s ease-in-out;
  }

  .nav-menu-link:hover {
    color: #3c2ea6;
  }

  .button-order {
    padding: 18px 24px;
    border-radius: 28px;
    background: #3c2ea6;
    transition: box-shadow 0s ease-in-out, background-color 0.8s ease-in-out;
  }

  .button-order:hover {
    background: #241a5c;
  }

  .btn-mobile {
    display: none;
  }
}
/* #endregion TABLET Header */

/* #region WEB Header */
@media only screen and (min-width: 1380px) {
  .header-container {
    max-width: 1440px;
    padding: 0 32px;
  }
  .header-mobile-menu-overlay {
    display: none;
  }

  .btn-menu-header {
    background: none;
    text-decoration: underline;
    margin-bottom: 18px;
    transition: box-shadow 0s ease-in-out, color 0.8s ease-in-out;
  }

  .btn-menu-header:hover {
    color: #3c2ea6;
  }

  .nav-menu-list {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px); /* Початкове зміщення вгору */
    position: absolute;
    z-index: 9999;
    pointer-events: none; /* Щоб не можна було натискати, поки приховано */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .nav-menu-list.active {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto; /* Робимо меню клікабельним */
  }

  .nav-menu-item {
    margin-bottom: 12px;
  }

  .nav-menu-item:last-child {
    margin-bottom: 0;
  }

  .nav-menu-link {
    transition: box-shadow 0s ease-in-out, color 0.8s ease-in-out;
  }

  .nav-menu-link:hover {
    color: #3c2ea6;
  }

  .button-order {
    padding: 18px 24px;
    border-radius: 28px;
    background: #3c2ea6;
    transition: box-shadow 0s ease-in-out, background-color 0.8s ease-in-out;
  }

  .button-order:hover {
    background: #241a5c;
  }

  .btn-mobile {
    display: none;
  }
}
