/* #region projects global */

.projects-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
  margin-bottom: 32px;
}

.projects-swipper-first-part {
  background-color: #fafafa;
}

.projects-swipper-list {
  display: flex;
  width: 312px;
  gap: 6px;
  flex-wrap: nowrap;
  margin-bottom: 223px;
}

.projects-swipper-item {
  border: rgba(28, 29, 32, 0.2) 1px solid;
  border-radius: 60px;
  padding: 13px 18px;
  font-family: Inter Tight, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #1c1d20;
}

.projects-swipper-text {
  font-size: 44px;
  line-height: 100%;
  width: 494px;
  font-family: Inter Tight, sans-serif;
  font-weight: 500;
  letter-spacing: -0.03em;
  color: #1c1d20;
  text-align: left;
  margin-bottom: 34px;
}

.projects-swipper-link {
  background-color: #3c2ea6;
  padding: 18px 50px;
  letter-spacing: -0.02em;
  border-radius: 60px;
  border: 0;
  color: #fafafa;
  display: inline-block;
  font-size: 16px;
}

.projects-swipper-link:hover {
  background: #241a5c;
}

.projects-swipper-second-part {
  background-color: #242527;
}

.projects-swipper-btn {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.projects-btn-left,
.projects-btn-right {
  width: 68px;
  height: 68px;
  background-color: #1c1d20;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
}

.projects-btn-left {
  rotate: 180deg;
}

.block {
  opacity: 0.5;
}

/* #endregion projects global */

/* #region projects  Mob */
@media (min-width: 375px) and (max-width: 767px) {
  .projects-swipper-slide {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 32px;
  }

  .projects-swipper-first-part {
    width: 100%;
    height: 395px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 24px;
    padding: 32px;
  }

  .projects-swipper-second-part {
    border-bottom-left-radius: 24px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 24px;
  }

  .projects-swipper-list {
    display: flex;
    width: 279px;
    gap: 6px;
    flex-wrap: wrap;
    margin-bottom: 96px;
  }

  .projects-swipper-text {
    font-size: 24px;
    line-height: 100%;
    width: 279px;
    font-family: Inter Tight, sans-serif;
    font-weight: 500;
    letter-spacing: -0.03em;
    color: #1c1d20;
    text-align: left;
    margin-bottom: 32px;
  }

  .projects-swipper-link {
    background-color: #3c2ea6;
    padding: 13px 32px;
    letter-spacing: -0.02em;
    border-radius: 60px;
    border: 0;
    color: #fafafa;
    display: inline-block;
  }

  .projects-swipper-img {
    width: 311px;
    height: 195px;
    margin: 100px 16px;
  }
}

/* #endregion projects  Mob */

/* #region projects  TABLET */
@media (min-width: 768px) and (max-width: 1439px) {
  .projects-swipper-slide {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 64px;
  }

  .projects-swipper-first-part {
    width: 100%;
    height: 566px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 24px;
    padding: 64px;
  }
  .projects-swipper-list {
    margin-bottom: 164px;
  }

  .projects-swipper-second-part {
    width: 100%;
    height: 625px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 24px;
    display: flex;
    justify-content: center; /* по горизонталі */
    align-items: center; /* по вертикалі */
  }

  .projects-swipper-img {
    width: 614px;
    height: 385px;
    display: block;
    margin: 0 auto;
  }
}
/* #endregion projects  TABLET */

/* #region projects  WEB */

@media only screen and (min-width: 1440px) {
  .projects-swiper-wrapper .projects-swipper-slide {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
  }

  .projects-swipper-first-part {
    width: 688px;
    height: 625px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
    padding: 64px;
  }

  .projects-swipper-img {
    margin: 120px 37px;
  }

  .projects-swipper-second-part {
    border-bottom-left-radius: 0;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

/* #endregion projects  WEB */
